{% extends 'base.html' %}

{% block content %}
    <!--{% if request.user.is_authenticated %}
        Hello {{ request.user.username }}
    {% else %}
        Hello anonymous user
    {% endif %}-->
    <div class="col-4 offset-4">
        <h4>Create Todo</h4>
        <form method="POST" class="form-inline justify-content-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">create</button>
        </form>
    </div>

{% endblock content %}