{% extends "base.html" %}

{% block content %}
    <div class="col-4 offset-4 text-center">
        <div class="card mt-3">
            <a href="/{{ todo.id }}"><h4>{{ todo.name }}</h4></a>
        </div>
        <div class="card-body">
            <p>It's due {{ todo.due_date}}
        </div>
        <div class="card-footer">
            <a href="/{{todo.id}}/update/" class="btn btn-secondary">Update Todo</a>
            <a href="/{{todo.id}}/delete/" class="btn btn-secondary">Delete This Todo</a>
            <a href="/" class="btn btn-secondary">home</a>
        </div>
    </div>
{% endblock content %}

